.application-history {
    padding: 20px 20px 40px;;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.application-history-table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}
.application-history h2 {
    margin-bottom: 20px;
    padding-top: 60px;
  }
  .search-bar {
    position: absolute; 
    top: 20px; 
    left: 20px; 
    right: 20px; 
    display: flex;
    justify-content: flex-start; 
    z-index: 1; 
  }
  
  .search-input {
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    max-width: 400px; 
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .search-input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
  }

.application-history-table th, .application-history-table td {
    padding: 15px;
    text-align: left;   
    border-bottom: 1px solid #ddd;
}

.application-history-table th {
    background-color: #007bff;
    color: white;
    font-weight: bold;
}
.application-history-table tr:hover {
    background-color: #f1f1f1;
  }
  
  .application-history-table td {
    color: #333;
  }
